.featuresSection {
  padding: 4rem 2rem;
  background-color: #fff; /* Fondo blanco o claro */
}

.content {
  max-width: 1200px;
  margin: 0 auto;
}

.sectionsGrid {
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* 4 columnas de igual ancho */
  gap: 2rem;
}

.sectionItem {
  h2 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
    color: #333; /* Color oscuro para los títulos */
    white-space: nowrap; /* Evita que el texto se divida en varias líneas */
  }

  p {
    font-size: 1rem;
    line-height: 1.5;
    color: #666; /* Color gris para el texto */
  }
}

/* Eliminamos la media query específica para .sectionsGrid */
/* @media (max-width: 768px) {
  .sectionsGrid {
    gap: 1rem;
  }
} */ 